<!-- Črti na vrhu spletne aplikacija. -->
<div class="line">
	<div class="top-line"></div>
	<div class="bottom-line"></div>
</div>


<div class="container" ng-controller="FeedController">
	<div class="row">
		<!-- Prikaz vremenskih podatkov. -->
		<div class="weather col-md-6" ng-controller="WeatherController" >
			<div ng-show="weather.temperature">
				<span>{{locality}}</span><br>
				<span>{{weather.temperature}}°C</span><br>
				<span>{{weather.humidity}}% vlažnost</span>
			</div>
		</div>

		<!-- Izbira RSS feeda iz seznama. -->
		<div class="feed-form col-md-5">
			<label for="feedSelect">IZBERI MEDIJ:</label>
			<form name="feedForm">
				<select id="feedSelect" ng-model="feedSelect" ng-options="feed.feedID as feed.name for feed in feeds" ng-change="feedFunction()">
				</select>
			</form>
		</div>
		
		<div class="col-md-1"></div>
	</div>

	<!-- Izpis novid za izbrani RSS feed. Uporablja direktivo 'news',
		 katere template je napisan v datoteki /templates/news_item.html. 
		 Vsako novico iz tabele currentFeed predstavi z uporabo njene lastne direktive. -->
	<div class="feed-content">
		<div ng-repeat="item in currentFeed">
			<news class="row news-margin" data="item"></news>	
			<hr>
		</div>
	</div>
</div>
