body {
	padding-bottom: 50px;
	background: #DFDCE3;
}
/* Don't display images from RSS feed */
img {
	display:none;
}

/* Styling for weather */
.weather {
	margin-top: 35px;
	padding: 0 20px;
	text-align: center;
	font-weight: 900;
	font-size:2rem;
	font-family: 'Alegreya', serif;
	color: #666;	
}
.weather span:first-child {
	font-size:1.5rem;
	text-transform: uppercase;
}

/* Styling for line */
.line .top-line {
	height: 50px;
    background: #4ABDAC;
}
.line .bottom-line {
	height: 5px;
    background: #F7B733;
}

/*Styling for feed selection form */
.feed-form {
	padding: 25px 0 30px 0;
	text-align: center;
}
.feed-form label {
	text-align: right;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 3rem;
	color: #666;
	opacity: 0.5;
}

.feed-form select {
	padding: 10px 40px;
	background: #FE491A;
	border-radius: 5px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	font-weight: 700;
	font-size: 2rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

.feed-form option {
	font-weight: 700;
	font-size: 2rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

/* Styling for feed content */
.feed-content {
	padding: 30px 30px 0 30px;
	text-align: justify;
	background: white;
	border-radius: 5px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styling for news */
.news {
	padding: 0 10px;
	border-radius: 5px;
}
.news a {
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 2rem;
	text-decoration: inherit;
}
.news p {
	margin: 0;
	font-weight: 600;
	font-size: 1.5rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
}
.news span:first-child {
	font-weight: 400;
	font-size: 1.5rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: #999;
}
.news-margin {
	margin: 0px; 
}
